

body{
	cursor:auto;
	margin:0;
	padding:0;
	background-color: rgb(8, 23, 65);
	font-family: sans-serif;
}

p {
	top:0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	pointer-events: none;
	transition: .5s;
}

#board{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -200px;
	margin-left: -200px;
}

#player1{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -200px;
	height: 50px;
	background-color: #666699;
}

#player2{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -200px;
	height: 50px;
	background-color: #666699;
}



#valuesOne{
	font-size: 20px;
	font-family: 'Impact', 'Helvetica', 'Arial', sans-serif;
}

#valuesTwo{
	font-size: 20px;
	font-family: 'Impact', 'Helvetica', 'Arial', sans-serif;
}

.gamestyle{
	font-size: 30px;
	font-family: 'Impact', 'Helvetica', 'Arial', sans-serif;
}

.joinGame{
	padding: 5px;
	margin: 5px;
	color: white;
	width: 98%;
	background-color: #666699;
	text-align: left;
	font-family: 'Helvetica', 'Arial', sans-serif;
}

.joinGame:hover{
	background-color: #446699;
}


#mainbg{
	width: 800px;
	background-color: #666699;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px; 
}

#pdiv {
	margin-left: 14px;
	margin-top: -10px;
}

#gameinfo p{
	left: 10px;
	font-family: 'Impact', 'Arial', sans-serif;
}

/*For rules*/

#rulesbg{
	width: 800px;
	background-color: #666699;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px; 
}

#rulestxt{
	position: relative;
	margin:20px;
	top: 10px;
}

#rulestxt h1{
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-weight: 5px;
}

.evaluation {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 80%;
}

.evaluation td, .evaluation th {
	border: 1px solid #ddd;
	padding: 8px;
}

.evaluation tr:nth-child(even){background-color: #9797d1;}
.evaluation tr:nth-child(odd){background-color: #8484ba;}
.evaluation tr:hover {background-color: #7a6bb5;}

.evaluation th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4CAF50;
	color: white;
}

.tdtitle{
	background-color: #8484d1;
	font-weight: bold;
}

/*User page*/

#profile{
	padding-left: 20px;
	padding-bottom: 20px;
}


